<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>USER REGISTRATION PAGE</h1>
    <form action="{% url 'create' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Enter Name" required><br>
        <input type="age" name="age" placeholder="Age" required><br>
        <input type="email" name="email" placeholder="Email" required><br>
        <input type="mobile" name="mobile" placeholder="Mobile" required><br>
        <input type="submit" value="submit">
    </form>
    <a href="{% url 'read' %}">SHOW DATA</a>
</body>
</html>