<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Page</title>
</head>
<body>
    <h1>EDIT PAGE</h1>
    <form action="" method="POST">
        {% for x in data %}
    {% csrf_token %}
    <input type="text" name="name" value={{x.name}}><br>
    <input type="age"  name="age" value={{x.age}}><br>
    <input type="email" name="email" value={{x.email}}><br>
    <input type="mobile" name="mobile" value={{x.mobile}}><br>
    <input type="submit" value="update">
    {% endfor %}

</form>

</body>
</html>